<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="jdbc.properties" />

	<!-- MyBatis 会在包名下面搜索需要的 Java Bean -->
	<typeAliases>
		<package name="zzzy.entity" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/> 
				<property name="url" value="${url}"/> 
				<property name="username" value="${username}"/> 
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>

	
	<!-- 映射文件 -->
	<mappers>
  		<package name="zzzy.mapper"/>
	</mappers>
</configuration>